<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML Forms Activity</title>
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/forms.css">
</head>

<body>
  <h1>Welcome to your server</h1>
  <div class="container">
    <form>
      <h2>GET</h2>
      
    </form>

    <form>
      <h2>POST URL-encoded</h2>

    </form>

    <form>
      <h2>POST Multipart</h2>

    </form>

  </div>
</body>

</html>